#container{
    width: 1000px;
    height: 1000px;
}

#header{
    width: 1000px;
    height: 150px;
    float: top;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 40px;
}
    .headertext{
        line-height: 150px;
    }

#lewo{
    width: 200px;
    height: 750px;
    background-color: grey;
    float: left;
}

#zawartosc{
    width: auto;
    height: 750px;
    background-color: yellow;
    margin-top: -20px;
}

#prawo{
    width: 200px;
    height: 750px;
    background-color: lightgray;
    float: right;
}

#ad{
    background-color: lightgray;
    float: right;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 25px;
}

#infodol{
    width: 1000px;
    height: 100px;
    float: bottom;
    background-color: green;
    font-size: 30px;
    text-align: center;
}
    .napisdol{
        line-height: 100px;
    }